# 1. Handling text in python

In [2]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "
len(text1)

76

In [3]:
text2 = text1.split(' ')
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

In [4]:
len(text2)

14

## Find specific words

In [5]:
# long words: Words that are more than 3 letters long
[w for w in text2 if len(w) > 3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [6]:
# Find capitalized words
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [7]:
# words that end with s
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

## Find unique words: using set()

In [8]:
text3 = 'To be or not to be'
text4 = text3.split()
len(text4)

6

In [9]:
len(set(text4))

5

In [10]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [11]:
len(set([w.lower() for w in text4]))

4

In [12]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

## some word comparison functions

* s.startwith(t)
* s.endswith(t)
* t in s
* s.isupper(); s.lower(); s.istitle()
* s.isalpha(); s.isdigit(); s.isalnum()

## String Operations

* s.lower(); s.supper(); s.titlecase()
* s.split()
* s.splitlines()
* s.join(t)
* s.strip(); s.rstrip()
* s.find(t); s.rfind(t)
* s.replace(u,v)

## From words to characters

In [13]:
text5 = "ouagadougou"
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [14]:
'ou'.join(text6)

'ouagadougou'

In [15]:
text5.split()

['ouagadougou']

In [17]:
text5.split('') # we cannot split based on empty separator

ValueError: empty separator

In [18]:
list(text5) # this is the right way to split words into characters

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

## Cleaning text

In [19]:
text8 = '  	 A quick brown fox jumped over the lazy dog. '
text8.split(' ')

['',
 '',
 '\t',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [20]:
text9 = text8.strip() # strip all non-needed white spaces
text9.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

## Chaning text

In [21]:
# Find and replace
text9

'A quick brown fox jumped over the lazy dog.'

In [22]:
text9.find('o')

10

In [23]:
text9.rfind('o')

40

In [24]:
text9.replace('o', 'O')

'A quick brOwn fOx jumped Over the lazy dOg.'

## Reading files line by line

In [25]:
f = open('text1.txt', 'r')
f.readline()

'We first compare our approach against recent methods\n'

## Read the full file

In [26]:
f.seek(0)
text12 = f.read()
len(text12)

575

In [27]:
text13 = text12.splitlines()
text13

['We first compare our approach against recent methods',
 'for unpaired image-to-image translation on paired datasets',
 'where ground truth input-output pairs are available for evaluation.',
 'We then study the importance of both the adversarial',
 'loss and the cycle consistency loss and compare our full',
 'method against several variants. Finally, we demonstrate',
 'the generality of our algorithm on a wide range of applications',
 'where paired data does not exist. For brevity, we refer',
 'to our method as CycleGAN. The PyTorch and Torch code,',
 'models, and full results can be found at our website.']

In [28]:
len(text13)

10

In [29]:
text13[0]

'We first compare our approach against recent methods'

## File operations

* f = open(filename, mode)
* f.readline(); f.read(); f.read(n)
* for line in f: doSomething(line)
* f.seek(n)
* f.write(message)
* f.close()

## Issues with reading text files

In [30]:
# remove the last newline character
f = open("text1.txt", 'r')
text14 = f.readline()
text14

'We first compare our approach against recent methods\n'

## how do you remove the last newline character

In [31]:
text14.rstrip() # we strip white spaces from the right side

'We first compare our approach against recent methods'

In [32]:
text14.strip() # we strip the white spaces starting from the left side

'We first compare our approach against recent methods'

# 2. Regular Expressions

## Processing free-text

In [33]:
# Find words with hashtags
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"
print([word for word in tweet.split() if word.startswith('#')])

['#regex', '#pandas', '#python']

In [35]:
# find callouts
[w for w in tweet if w.startswith('@')]

['@']

## Callouts are more than just tokens beginning with '@'
@utoronto.ca @gmail.com 

Match something after '@'
- Alphabets
- Numbers
- Specoal symbols like '_'

@[A-Za-z0-9]+

In [40]:
text10 = '"Ethics are built right into the ideals and objectives of the united \
Nations" #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women'
text11 = text10.split()
text11

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'united',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women']

In [42]:
[w for w in text11 if w.startswith('@')]

['@', '@UN', '@UN_Women']

## Import regular expression first

@[A-Za-z0-9]+ 

@: starts with @ \
[A-Za-z0-9]: followed by any alphabet(upper or lower case), digit, or undersocre \
+: repeats at least onece, but any number of times

In [44]:
import re
[w for w in text11 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

## Meta-characters: Character matches

. : wildcard, matches a single character \
^ : start of a string \
$ : end of a string \
[]: matches one of the set of characters within [] \
[a-z] : matches one of the range of character a,b,...,z \ 
[^abc] : matches a character that is not a,b,or,c \
a|b : matches either a or b, where a and b are strings \
() : Scoping for operators \
\ : Escape character for sepcial characters(\t, \n, \b)

## Meta-characters: Character symbols
\b : Matches word bounday \
\d : Any digit, equivalent to [0-9] \
\D : Any non-digit, equivalent to [^0-9] \
\s : Any whitespace, equivalent to [ \t\n\r\f\v] \
\S : Any non-whitespace, equivalent to [^ \t\n\r\f\v] \
\w : Alphabumeric character, equivalent to [a-zA-Z0-9_] \
\W : Non-alphanumeric, equivalent to [^a-zA-Z0-9_]

## Meta-characters: Repetitions

there is not quote, but in juputer notebook, have to add quote
'*' : matches zero or more occurences \ 
'+' : matches one or more occurences \
? : matches zero or one occurences \
{n} : exactly n repetitions, n >= 0 \
{n,} : at least n repetions \
{,n} : at most n repetions \
{m,n} : at least m and at most n repetions\

## Find specific characters

In [53]:
text12 = "ouagadougou"
re.findall(r'[aeiou]', text12) # find all characters that match at least one of the hcaracters in the brackets

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [55]:
re.findall(r'[^aeiou]', text12) # find all characters that do not match any of the characters in the brackets

['g', 'd', 'g']

## Case study: Regular expression for Dates

## Date variations for 23rd December 2021
23-12-2021 \
23/12/2021 \
23/12/21\
12/23/2021 \ 
23 Dec 2021 \
23 December 2021 \ 
Dec 23, 2021

In [57]:
dateStr = '23-12-2021\n23/12/2021\n23/12/21\n12/23/2021\n23 Dec 2021\n23 December 2021\n Dec 23, 2021\n'
dateStr

'23-12-2021\n23/12/2021\n23/12/21\n12/23/2021\n23 Dec 2021\n23 December 2021\n Dec 23, 2021\n'

In [59]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}', dateStr)

['23-12-2021', '23/12/2021', '12/23/2021']

In [60]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}', dateStr)

['23-12-2021', '23/12/2021', '23/12/21', '12/23/2021']

In [61]:
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}', dateStr)

['23-12-2021', '23/12/2021', '23/12/21', '12/23/2021']

In [63]:
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['Dec']

In [64]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', dateStr)

['23 Dec 2021']

In [67]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}', dateStr)

['23 Dec 2021', '23 December 2021', 'Dec 23, 2021']

# Working with Text Data in pandas

In [70]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.",
                 "Tuesdat: The dentist's appointment is at 11:30 am.",
                 "Wedneday: At 7:00pm, there is a basktball game!", 
                 "Thursday: Be back home by 11:15 pm at the latest.", 
                 "Friday: Take the train at 08:10 am, arrive at 9:00 am."]
df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesdat: The dentist's appointment is at 11:30...
2    Wedneday: At 7:00pm, there is a basktball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [71]:
df['text'].str.len()

0    46
1    50
2    47
3    49
4    54
Name: text, dtype: int64

In [74]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    11
Name: text, dtype: int64

In [75]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [76]:
df['text'].str.count(r'\d') #count the number of digits in the dataframe

0    3
1    4
2    3
3    4
4    7
Name: text, dtype: int64